*{
    padding: 0;
    margin: 0;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #CAD2C5;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: 16px;
    color: #52489C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 1%;
  }
  
  .navbar img{
    max-width: 70%;
    max-height: 70%;
  }

  /* Add a red background color to navbar links on hover */
  /* .navbar a:hover, svg .dropbtn {
    color: white;
    background-color: #52489C;
    transition: 500ms;
  } */